:root {
  --menu-btn-width: 15px;
  --menu-btn-height: 2px;
  --menu-btn-margin-y: 3px;
  --menu-btn-translate-y-first: calc(
    var(--menu-btn-height) + var(--menu-btn-margin-y)
  );
  --menu-btn-translate-y-last: calc(
    0px - var(--menu-btn-height) - var(--menu-btn-margin-y)
  );

  --bs-primary: rgb(20, 174, 179);
  --bs-primary-rgb: 20, 174, 179;
  --bs-primary-light: #4fc2c6;
}
a {
  text-decoration: none;
}
body,
button {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}
select.form-select,
option {
  font-size: 0.95rem;
}
input[type='range']::-webkit-slider-thumb {
  background-color: var(--bs-primary);
}
input[type='range']:active::-webkit-slider-thumb {
  background-color: rgba(var(--bs-primary-rgb), 0.4);
}
.text-primary {
  color: var(--bs-primary) !important;
}
.page-item.active .page-link {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.modal-header,
.modal-footer {
  border: none;
}
.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.4);
}
#menu,
.menu-holder {
  max-width: calc(100vw - 0.5rem - 45px);
  width: 280px;
  transition: 0.5s;
  overflow: hidden;
}
.menu-holder {
  z-index: -1;
}
#menu {
  z-index: 5;
  background-color: var(--bs-primary);
  height: calc(var(--vh, 1vh) * 100);
  max-height: 100vh;
  position: fixed;
  top: 0;
  user-select: none;
  -webkit-user-select: none;
}
#menu.collapsed,
.menu-holder.collapsed {
  min-width: 45px;
  width: 45px;
  transition: 0.5s;
}
#menu.collapsed .menu-btn {
  margin-bottom: 1em;
  transition: 0.5s;
}
#menu.collapsed #menu-header {
  flex-direction: column;
  transition: 0.5s;
}
.hide-when-collapsed.show {
  display: block;
}
.hide-when-collapsed.hide {
  display: none;
}

#menu.collapsed .hide-when-collapsed {
  display: none;
  transition: 0.5s;
}
#menu.collapsed.bigger,
.menu-holder.collapsed.bigger {
  min-width: 70px;
  width: 70px;
}
.menu-btn {
  width: 45px;
  transform: translateX(calc(50% - var(--menu-btn-width) / 2));
}
.menu-btn div {
  background: var(--bs-primary);
  width: var(--menu-btn-width);
  height: var(--menu-btn-height);
  margin: var(--menu-btn-margin-y) 0;
  border-radius: 100px;
  transition: 0.2s;
}
#menu:not(.collapsed) .menu-btn:hover div {
  transform: scale(1.1);
  transition: 0.3s;
}
#menu:not(.collapsed) .menu-btn:hover div:nth-child(1) {
  transform: translate(0, var(--menu-btn-translate-y-first)) scale(1.1)
    rotate(-45deg);
}
#menu:not(.collapsed) .menu-btn:hover div:nth-child(2) {
  transform: scale(1.1);
  opacity: 0;
}
#menu:not(.collapsed) .menu-btn:hover div:nth-child(3) {
  transform: translate(0, var(--menu-btn-translate-y-last)) scale(1.1)
    rotate(45deg);
}
#menu-tree {
  overflow-y: auto;
}

#menu-tree::-webkit-scrollbar {
  width: 8px;
}
#menu-tree::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#menu-tree::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
}
#menu-header,
#account {
  background-color: var(--bs-white);
  color: var(--bs-primary);
}
#menu .accordion-button {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}
#mobileMenu {
  display: none;
  right: 0;
  top: 0;
  z-index: 5;
}
#mobileMenu .menu-btn div {
  background-color: #fff;
}
#mobileMenu:not(.collapsed) .menu-btn div {
  transform: scale(1.1);
  transition: 0.3s;
}
#mobileMenu:not(.collapsed) .menu-btn div:nth-child(1) {
  transform: translate(0, var(--menu-btn-translate-y-first)) scale(1.1)
    rotate(-45deg);
}
#mobileMenu:not(.collapsed) .menu-btn div:nth-child(2) {
  transform: scale(1.1);
  opacity: 0;
}
#mobileMenu:not(.collapsed) .menu-btn div:nth-child(3) {
  transform: translate(0, var(--menu-btn-translate-y-last)) scale(1.1)
    rotate(45deg);
}
.no-arrow .accordion-button:after {
  display: none;
}
.accordion-button:after {
  width: 8px;
  height: 8px;
  background-image: none;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
.accordion-button:not(.collapsed):after {
  /* width: 8px;
  height: 8px; */
  background-image: none;
  /* border-right: 2px solid #fff;
  border-bottom: 2px solid #fff; */
  transform: rotate(45deg);
}
.btn-primary {
  background-color: var(--bs-primary);
  border: 1px solid rgba(var(--bs-primary-rgb), 0.8);
}
.btn {
  transition: 0.2s;
}
.btn:hover {
  filter: brightness(1.1) grayscale(0.12);
  transition: 0.2s;
}
.btn-primary:hover {
  background-color: var(--bs-primary);
  border: 1px solid rgba(var(--bs-primary-rgb), 0.8);
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 209, 209, 0.25);
}
.btn-primary:focus {
  background-color: var(--bs-primary);
  border: 1px solid rgba(var(--bs-primary-rgb), 0.8);
  box-shadow: 0 0 0 0.2rem rgba(0, 209, 209, 0.25);
}
.btn-outline-primary {
  color: var(--bs-primary);
  border: 1px solid rgba(var(--bs-primary-rgb), 0.8);
}
.btn-outline-primary:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.8);
  border: 1px solid rgba(var(--bs-primary-rgb), 0.8);
}
#menu .accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}
#menu .accordion-body {
  padding: 0;
}
#menu .list-group-item {
  border-radius: 0;
  padding-left: 2em;
  font-size: 0.9em;
  font-weight: 400;
  background-color: var(--bs-light);
  color: var(--bs-gray-600);
  border-top: none;
  border-left: none;
  border-right: none;
}
#menu .accordion-button:focus {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0.25rem rgba(0, 209, 209, 0.25);
}
#menu .accordion-button:not(.collapsed) {
  box-shadow: none;
}
#system-main {
  margin-top: 5rem;
  max-width: 100vw;
}
#title {
  top: 0;
  left: 0;
  z-index: 4;
}
@media (max-width: 575px) {
  .menu-holder {
    width: 0;
    display: none;
  }
  #menu.collapsed,
  .menu-holder.collapsed {
    transform: translateX(-45px);
    transition: 0.5s;
  }
  #system-main {
    margin-left: 0;
  }
  #mobileMenu {
    display: block;
  }
  #desktopMenuBtn {
    display: none;
  }
}
/* 內文 */
#system-main .nav-link {
  color: var(--bs-gray);
  padding: 0.5rem 0.3rem;
  margin-right: 1rem;
}
#system-main .nav-link.active {
  color: var(--bs-primary);
  border-bottom: 2px solid var(--bs-primary);
}
.form-floating label {
  color: var(--bs-gray);
}
/* .form-control {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
} */
.form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: none;
}
.form-control:focus ~ label {
  color: var(--bs-primary);
  opacity: 1;
}
.form-control::placeholder {
  color: var(--bs-gray-500);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ labels {
  opacity: 1;
}
/* range */
.wrunner__handle_theme_default.wrunner__handle {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  margin-left: -0.5rem;
  background-color: var(--bs-primary);
}
.wrunner__valueNote_theme_default.wrunner__valueNote {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  background-color: var(--bs-primary);
}
.wrunner__valueNote_theme_default.wrunner__valueNote::after {
  display: none;
}
.wrunner__pathPassed_theme_default.wrunner__pathPassed {
  background-color: var(--bs-primary);
}
.wrunner__division_theme_default.wrunner__division {
  background-color: var(--bs-primary);
}
.wrunner__handle_theme_default.wrunner__handle:hover {
  background-color: var(--bs-primary);
}
.wrunner__handle_theme_default.wrunner__handle:active {
  background-color: var(--bs-primary);
}
.not-opening-url {
  color: var(--bs-gray-400) !important;
}
#title > div {
  z-index: 1;
}
.bg-primary-light{
  background-color: var(--bs-primary-light);
}
div.dataTables_wrapper .row {
  margin: 0;
}